:root {
    color-scheme: dark;
  }

/*github*/
.css-1705j0v {
    opacity: 0;
}

.css-qsb7md {
    background: linear-gradient(120deg, red 0%, red 5%, rgba(255, 0, 0, 0.5) 30%, white 90%) !important;
}
.css-lxws8o {
    background: linear-gradient(120deg, rgb(170, 0, 0) 5%, rgba(170, 0, 0, 0.5) 30%, black 90%) !important;
}
.css-wrhvh6 {
    background: linear-gradient(120deg, rgb(170, 0, 0) 5%, rgba(170, 0, 0, 0.5) 30%, black 90%) !important;
}

.css-7vbamj {
    display: none!important;
}

.css-1mzerio {
    display: none !important;
}

.css-7kdxxp {
    background: #141414 !important;
}

/* .css-sdz2z {
    color: white !important;
} */

.css-qi7w6i {
    border-radius: 0% !important;
}